# Additional package source for CUDA 12.8 PyTorch wheels
--extra-index-url https://download.pytorch.org/whl/cu118

# PyTorch stack — CUDA 12.8
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118

# Whisper
faster-whisper==1.1.1

# Wav2Lip and utilities
numpy
scipy
tqdm
opencv-python
numba
matplotlib
ffmpeg-python
sounddevice
pydub
gdown

#LLM Search
ddgs==9.14.4

# Always listening
SpeechRecognition
requests
google-generativeai
python-dotenv

# Text-to-speech and server
TTS==0.22.0
Flask
